.card-title {
  color: white;
  font-size: 30px;
}

.card-text {
  color: #058177;
  font-size: 20px;
  font-weight: bold;
}

.card {
  padding: 10px;
  margin-right: 40px;
  margin-left: 130px;
  text-align: center;
  height: 325px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: inline-flex;
}
