

.nav-link{
    display: inline-block;
    margin-right: 30px;
}

.titleCadastrarPessoa{
    margin-top: 10px;
    text-align: center;
    color: rgb(30, 30, 155);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 40px;

}


.cardForm{
    margin-top: 70px;
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 70px;
    padding: 15px 40px;
    background-color: rgb(150, 215, 245);
    border: 1px solid rgb(62, 231, 180);
    box-shadow: 0 4px 8px rgba(212, 197, 197, 0.897);
}

#inputNome{
    margin-bottom: 25px;
    border: 1px solid #999;
}

#inputCPF{
    margin-bottom: 25px;
    border: 1px solid #999;
}

#inputNascimento{
    margin-bottom: 25px;
    border: 1px solid #999;
}

#inputTelefone{
    margin-bottom: 25px;
    border: 1px solid #999;
}

#inputEmail{
    margin-bottom: 25px;
    border: 1px solid #999;
}

#inputSenha{
    margin-bottom: 25px;
    border: 1px solid #999;
}

.btn{
    background-color: rgb(30, 30, 155);
    border: 1px solid rgb(90, 159, 238);
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 6px;
    width: 130px;
}

#inputNome:focus , #inputEmail:focus , #inputCPF:focus,
#inputNascimento, #inputTelefone, #inputSenha{
    border-color: rgb(30, 30, 155);
}


.newsletter {
    padding: 60px 0;
    background: #73c7d6;
    position: absolute;
    width: 100%;
    }
    
    .newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }

    .newsletter .content h2 {
    color: #292cd8;
    margin-bottom: 40px; }

    .newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 6px;
    }

    .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #1a2d99;
    }
    
    .newsletter .content .btn {
    min-height: 50px; 
    border-radius: 6px;
    background: #1a2d99;
    color: rgb(168, 197, 241);
    font-weight:600;
    }


@media screen and (max-width: 768px) {
        form{
            width: 100%;
        }
}
    
@media screen and (max-width: 600px) {
        button{
            width: 100%;
        }
}
    