.titleContato {
  margin-top: 10px;
  text-align: center;
  color: #e23d8c;
  font-family: "Roboto", sans-serif;
}

.cardForm {
  margin-top: 70px;
  margin-right: 160px;
  margin-left: 160px;
  margin-bottom: 70px;
  padding: 15px 40px;
  background-color: #feaec9;
  color: #e23d8c;
  box-shadow: 0 4px 8px rgba(212, 197, 197, 0.897);
}

#inputNome {
  margin-bottom: 25px;
  border: 1px solid #999;
}

#inputEmail {
  margin-bottom: 25px;
  border: 1px solid #999;
}

#textAreaMensagem {
  margin-bottom: 25px;
  border: 1px solid #999;
}

#inputNome:focus,
#inputEmail:focus,
#textAreaMensagem:focus {
  border-color: #e23d8c;
}
