.my-links-ongs {
  padding: 10px;
  margin-top: 250px;
  margin-right: 40px;
  margin-left: 130px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: inline-flex;
}
