
.mb-3 {
  border-radius: 10px;
  box-shadow: 8px 8px 8px var(--cinza-claro);
  background: var(--rosa-claro);
  border: white;
  margin: 50px auto;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
}

.form-label {
  margin-top: 15px;
}

#botao {
  margin: 20px 0;
  display: block;
  width: 100px;
  height: 50px;
  background: var(--verde-escuro);
  color: var(--rosa-claro);
}
