#backgroundImage {
    width: 100vw;
    height: 100vh;
    background: url('../img/imagem_background.jpg');
    background-size: cover;
  }
  
  .container {
    width: 50%;
    height: calc(100% - 115px);
    margin: 0;
    padding: 100px 30px 0 80px;
    display: block;
    color: white;
    text-shadow: thistle;
  }
  
  