
@{
    ViewData["Title"] = "Cadastrar";
}

<!--Cards de Cadastro-->
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top"
                         src="~/imagens/card-cadastro-pessoa.jpg"
                         alt="Card Cadastrar Pessoa" />
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Cadastrar Pessoa</p>
                        <a asp-action="CadastrarPessoa" class="btn">Cadastrar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top"
                         src="~/imagens/card-cadastro-empresa.jpg"
                         alt="Card Cadastrar Empresa" />
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Cadastrar Empresa</p>
                        <a asp-action="CadastrarEmpresa" class="btn">Cadastrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>