@model IEnumerable<Amor_na_Pele_Squad09_Entrega02.Models.CadastroMulher>

@{
    ViewData["Title"] = "Cadastrar Pessoa";
}

<h1 class="titleCadastrarEmpresa">Seu cadastro</h1>
<!--Tabela-->
<div class="container bgtabela">
    <div class="cont">
        <table class="table">

            <tbody>
                @{ if (Model != null)
                    {
                        var cont = 0;
                        foreach (var i in Model)
                        {
                            cont++;
                        }
                        var test = 0;
                        foreach (var item in Model)
                        {
                            test++;
                            if (test == cont)
                            {
                                <tr>
                                    <th scope="row">Nome Completo</th>
                                    <td>@item.nomeMulher</td>

                                </tr>
                                <tr>
                                    <th scope="row">Data de nascimento</th>
                                    <td>@item.dataNascimento</td>

                                </tr>
                                <tr>
                                    <th scope="row">Telefone</th>
                                    <td>@item.numeroTelefoneMulher</td>

                                </tr>
                                <tr>
                                    <th scope="row">Endereço de e-mail</th>
                                    <td>@item.emailMulher</td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
        <div>
            <a class="btn btn-dark" role="button"
               aria-expanded="false"asp-action="Index">Confirmar</a>
            <a class="btn btn-dark" role="button"
               aria-expanded="false" asp-action="editarMulher">Editar</a>
            <button class="btn btn-dark">Deletar</button>
        </div>
    </div>

</div>
