
@{
    ViewData["Title"] = "Cadastrar Empresa";
}

<h1 class="titleCadastrarEmpresa">Seu cadastro</h1>
<!--Formulário-->
<div class="container bgtabela">
    <div class="cont">
        <table class="table">

            <tbody>
                <tr>
                    <th scope="row">Nome Completo</th>
                    <td>nome</td>

                </tr>
                <tr>
                    <th scope="row">CNPJ</th>
                    <td>1595215451515</td>

                </tr>
                <tr>
                    <th scope="row">Razão social</th>
                    <td>........</td>

                </tr>
                <tr>
                    <th scope="row">Telefone</th>
                    <td>(xx)xxxx - xxxx</td>
                </tr>
                <tr>
                    <th scope="row">Endereço de e-mail</th>
                    <td>Email@mail.com</td>
                </tr>
                <tr>
                    <th scope="row">Estado</th>
                    <td>Rio de Janeiro</td>
                </tr>
                <tr>
                    <th scope="row">Cidade</th>
                    <td>Rio</td>
                </tr>
                <tr>
                    <th scope="row">Endereço</th>
                    <td>Endereço aqui.</td>
                </tr>
                <tr>
                    <th scope="row">Especialidade do negócio</th>
                    <td>Cirurgias plásticas</td>
                </tr>


            </tbody>
        </table>
        <div>
            <a class="btn btn-dark" href="index.html">Confirmar</a>
            <a class="btn btn-dark" asp-action="editarEmpresa">Editar</a>
            <button class="btn btn-dark">Deletar</button>
        </div>
    </div>

</div>

<!--Newsletter-->
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="content">
                    <h2>Receba as nossas novidades!</h2>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Informe o seu endereço de e-mail" />
                        <a href="#" class="btn btn-dark">Inscreva-se agora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>