@model Amor_na_Pele_Squad09_Entrega02.Models.CadastroContato

@{
    ViewData["Title"] = "Contato";
}

<h1 class="titleContato">Contato</h1>
<!--Formulário-->
<form class="cardForm" asp-action="contato" method="post">
    <div class="form-group">
        <label for="inputNome"><strong>Nome</strong></label>
        <input type="text"
               class="form-control"
               id="inputNome"
               placeholder="Nome"
               asp-for="nomeContato">
    </div>

    <div class="form-group">
        <label for="inputEmail"><strong>Endereço de e-mail</strong></label>
        <input type="email"
               class="form-control"
               id="inputEmail"
               placeholder="email@exemplo.com"
               asp-for="emailContato" />
    </div>

    <div class="form-group">
        <label for="textAreaMensagem"><strong>Mensagem</strong></label>
        <textarea class="form-control"
                  id="textAreaMensagem"
                  placeholder="Mensagem..."
                  rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>