@model Amor_na_Pele_Squad09_Entrega02.Models.ModelDuploContatoNewsletter

@{
    ViewData["Title"] = "Contato";
}

<h1 class="titleContato">Contato</h1>
<!--Formulário contato-->
<div class="container bg-tranparent sm-shadow">
    <div class="row">
        <div class="col-md-4 order-md-1">
            <div id="img-form">
                <img src="~/imagens/logotipo.png" alt="logotipo Amor na pele" />
            </div>
        </div>
        <div class="col-md-8 order-md-2">
            <form class="cardForm" asp-action="cadastroContatoNewsletter" method="post">
                <div class="form-group">
                    <label for="inputNome">Nome</label>
                    <input type="text"
                           class="form-control"
                           id="inputNome"
                           placeholder="Nome"
                           required
                           asp-for="cadCont.nomeContato"/>
                </div>

                <div class="form-group">
                    <label for="inputEmail">Endereço de e-mail</label>
                    <input type="email"
                           class="form-control"
                           id="inputEmail"
                           placeholder="email@exemplo.com"
                           required
                           asp-for="cadCont.emailContato"/>
                </div>

                <div class="form-group">
                    <label for="textAreaMensagem">Mensagem</label>
                    <textarea class="form-control"
                              id="textAreaMensagem"
                              placeholder="Mensagem..."
                              rows="3"
                              required
                              asp-for="cadCont.msg"></textarea>
                </div>
                <button class="btn btn-dark" type="submit">
                    Enviar
                 </button>

            </form>
        </div>
    </div>
</div>
<!--Newsletter-->
<section class="newsletter">
    <form asp-action="cadastroContatoNewsletter" method="post">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">
                        <h2>Receba as nossas novidades!</h2>
                        <div class="input-group">
                            <input type="email"
                                   class="form-control"
                                   placeholder="Informe o seu endereço de e-mail"
                                   required
                                   asp-for="cadNews.emailNewsletter" />
                            <button class="btn btn-dark" type="submit">Inscreva-se agora</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>