@{
    ViewData["Title"] = "Links";
}

<span class="my-links-ongs"> <!-- Pq é um span aqui sugiro colocar uma section-->
    <br />
    <p></p>
    <br />
    <p></p>
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle"
                     src="~/imagens/em-boas-maos-ong.jpg"
                     alt="ONG Em Boas Mãos"
                     width="260"
                     height="260" />
                <p></p>
                <h2>Em Boas Mãos</h2>
                <p>
                    Buscamos através de um trabalho criterioso e avaliado caso a
                    caso, devolver a autoestima perdida ao longo da vida, e assim
                    transformar o destino e as oportunidades de milhares de pessoas.
                </p>
                <p>
                    <a class="btn btn-secondary"
                       href="https://emboasmaos.org/"
                       role="button">Para mais detalhes »</a>
                </p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="rounded-circle"
             src="~/imagens/social-care-ong.jpg"
             alt="ONG Social care"
             width="260"
             height="260" />
        <p></p>
        <h2>Social Care</h2>
        <p>
            O Projeto da ONG SOCIAL CARE é oferecer o acesso as pessoas
            menos favorecidas e que, no entanto, possuem as mesmas
            necessidades e desejos de outras socialmente mais privilegiadas.
        </p>
        <p>
            <a class="btn btn-secondary"
               href="https://www.socialcare.com.br/#firstPage"
               role="button">Para mais detalhes »</a>
        </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="rounded-circle"
             src="~/imagens/fala-mulher-ong.JPG"
             alt="ONG Fala Mulher"
             width="260"
             height="260" />
        <p></p><!-- Pq isso ?-->
        <h2>Fala Mulher</h2>
        <p>
            Empoderando mulheres e fortalecendo famílias. Somos uma
            Organização sem fins lucrativos, que atua no enfrentamento à
            violência doméstica contra a mulher.
        </p>
        <p>
            <a class="btn btn-secondary"
               href="https://www.falamulher.ong.br/"
               role="button">Para mais detalhes »</a>
        </p>
    </div>
    <!-- /.col-lg-4 -->

    <!-- /.row -->

</span>