@{
    ViewData["Title"] = "Parceiros";
}

<header class="headerParceiros">
    <br />
    <img class="card-img-top"
         src="~/imagens/parceiros.jpg"
         alt="Banner Parceiros"
         height="450px" />
    <h1 class="titleParceiros">Nossos Parceiros</h1>
    <p>Venha conosco nesta jornada em busca da felicidade!</p>
</header>

<div class="cardParceiros">
    <div class="cardParceiro1">
        <div class="card-header">Nome do parceiro 1</div>
        <div class="card-body">
            <h5 class="card-title">Especialidade da empresa:</h5>
            <p class="card-text1">Endereço:</p>
            <p class="card-text2">Telefone:</p>
            <p class="card-text3">E-mail:</p>
            <p class="card-text4">
                Para mais informações, acesse o site abaixo:
            </p>
            <a href="#" class="btn btn-primary">link do site do parceiro</a>
        </div>
    </div>

    <div class="cardParceiro2">
        <div class="card-header">Nome do parceiro 2</div>
        <div class="card-body">
            <h5 class="card-title">Especialidade da empresa:</h5>
            <p class="card-text1">Endereço:</p>
            <p class="card-text2">Telefone:</p>
            <p class="card-text3">E-mail:</p>
            <p class="card-text4">
                Para mais informações, acesse o site abaixo:
            </p>
            <a href="#" class="btn btn-primary">link do site do parceiro</a>
        </div>
    </div>
</div>